footer{
    background-color: #3a6fa0;
    right: 0;
    left:0;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navigation{
    position: absolute;
    right: 40px;
    top: 25px;
}

.informations{
    margin: auto;
    text-align: center;
}

.netflax{
    font-size: 20px;
    font-weight: 600;
    color: rgb(245, 245, 248);
    margin: 10px;
}

button{
    background-color: black;
    color: #3a6fa0;
    font-size: 15px;
}