.footer{
    background-color: #3a6fa0;
}

.footerContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navigation{
    position: absolute;
    right: 20px;
    top: 40px;
}

.netflax{
    font-size: 20px;
    font-weight: 600;
    color: grey;
}