<div class="home">
    <h1>Netflax - Mieux que la vie réelle !</h1>
    <h2>N'attendez plus pour vivre des moments intenses...</h2>

    <div>
        <p>Envie de prévoir un marathon Harry Potter avec votre bande de potes ?</p>
        <p>De regarder un film romantique avec votre date ?</p>
        <p>Ou vous avez tout simplement la flemme et vous prévoyez une bonne soirée frites devant la télé ?</p>
    </div>


    <h3>Netflax, mais qu'est-ce que c'est ?</h3>
    <p>Netflax est une plateforme de location de films. Vous pouvez louer votre film pour 24h ou pour une semaine. À vous de choisir !</p>

    <div>
        <p>Découvrez dès maintenant notre catalogue de films</p>
        <button>Catalogue</button>
    </div>  

</div>



