button{
    background-color: black;
    color: #3a6fa0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 25% 10%;
    font-size: 15px;
    right: 200px;
}

.home{
    text-align: center;
    left: 0;
    right: 0;
}

h1{
    color: rgb(226, 73, 73);
    font-size: 55px;
    margin: 50px;
}

h2{
    margin: 30px;
    font-size: 30px;
}

.question p{
    margin: 10px;
}
