button{
    background-color: black;
    color: #3a6fa0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 25% 10%;
    font-size: 15px;
    right: 200px;
}

.home{
    text-align: center;
    left: 0;
    right: 0;
}
