nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    background-color: #3a6fa0;
    left: 0; 
    right: 0;
    padding: 15px;
    height: 80px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.netflax{
    font-size: 2em;
    color: rgb(245, 245, 248);
    font-weight: 400;
}

.link{
    padding: 10px;
}